{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static '../static/styles.css' %}">

</head>
<body>
<h2><img width="15%" src="{% static '../static/ball1.png' %}" alt="ball"></h2>
<div>
    <form action="{% url 'login' %}" method="GET">
      {% csrf_token %}
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="Username">

      <label for="password">Password</label>
      <input type="password" id="email" name="password">
    
      <input type="submit" value="Login">
    </form>
  </div>


</body>
</html>