{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static '../static/styles.css' %}">

</head>
<body>
<h2><img width="15%" src="{% static '../static/ball1.png' %}" alt="ball"></h2>
<div>
    <form action="{% url 'register' %}" method="POST">
      {% csrf_token %}
      {{form.username.label_tag}}
      {{form.username}}
  
      {{form.password1.label_tag}}
      {{form.password1}}

      Password(repeat):
      {{form.password2}}

      {{form.errors}}

      <input type="submit" value="Register">
    </form>
  </div>


</body>
</html>