{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style>
    nav{
      background-image: url("{% static '../static/header.jpg' %}");
    }
    .dark{background-color:dimgray}
    .light{background-color: lightgray}
    li.c1 a{color:white}
  </style>

</head>
<body>

<nav class="navbar navbar-default" background-image="{% static '../static/header.jpg' %}">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="c1"><a href="#">Tournaments</a></li>
      <li class="c1"><a href="#">Games</a></li>
      <li><a href="#">Users</a></li>
    </ul>
  </div>
</nav>
  
<div class="container dark">
  <h3>Basic Navbar Example</h3>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
</div>
<div class="container light">"{% static '../static/header.jpg' %}"</div>

</body>
</html>


